<header>
    <nav class="main-nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li th:if="${@currentUser.isLogout()}">
                <a th:href="@{/users/login}">Login</a>
            </li>
            <li th:if="${@currentUser.isLogout()}">
                <a th:href="@{/register}">Register</a>
            </li>
            <li>
                <a href="/">About</a>
            </li>
            <li th:if="${@currentUser.isLogged()}">
                <a href="/">Add new route</a>
            </li>
            <li th:if="${@currentUser.isLogged()}">
                <a th:href="@{/users/profile}">Profile</a>
            </li>
            <li th:if="${@currentUser.isLogged()}">
                <a href="/">Admin</a>
            </li>
            <li th:if="${@currentUser.isLogged()}">
                <a th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </nav>
</header>